# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
dash=1.14.0=pyh9f0ad1d_0
dash-bootstrap-components=0.10.6=pyh9f0ad1d_0
dash-core-components=1.10.2=pyh9f0ad1d_0
dash-html-components=1.0.3=pyh9f0ad1d_0
dash-renderer=1.6.0=pyh9f0ad1d_0
dash-table=4.9.0=pyh9f0ad1d_0
gunicorn=20.0.4=py37hc8dfbb8_1
pandas=1.0.2=py37h6c726b0_0
plotly=4.11.0=py_0
plotly-geo=1.0.0=py_0
plotly-orca=1.2.1=1
yfinance=0.1.54=py_0
